@import '../../assets/palette';

.stack-list-container {
    display: flex;
    width: 300px;
    height: 100%;
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.stack-container-closed {
    width: 0px;
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.stack-list {
    flex: 1;
    background-color: $color-grey;
    margin: 10px;
}
