@import '../../assets/palette';

.filter-control-container {
    position: relative;
    margin: 10px;
    background-color: $color-grey-dark;

    border-width: 1px;
    border-color: $color-grey-darker;
    border-style: solid;

    > .filter-control-header {
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        border-bottom: 1px solid $color-grey-darker;

        h5 {
            margin: 0;
        }
    }

    > .filter-control-content {
        padding: 10px;
    }
}
