.filters-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: auto;

    .filters-thumbnails {
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }
}
